.imgContainer {
  position: relative;
  margin-bottom: 20px;
}

.animePic {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  height: 400px;
}

.trailerPic {
  height: 307px;
  min-height: unset;
}

.watchLink {
  display: flex;
  background-color: #000000b3;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 20;
  height: 99%;
  border-radius: 10px;
  color: var(--color-white);
  font-size: 35px;
  font-family: var(--font-semi-bold);
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 1399px) {
  .watchLink {
    font-size: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .watchLink {
    font-size: 25px;
  }
}

.imgContainer:hover .watchLink {
  visibility: visible;
  opacity: 1;
}

.watchLink.trailerLink {
  visibility: visible;
  opacity: 1;
}

.imgContainer:hover .trailerLink {
  color: var(--color-primary)
}

.playText {
  margin-left: 10px;
}

.watchLink svg {
  fill: var(--color-white);
  transition: all 0.5s ease;
}

.watchLink.trailerLink:hover svg {
  fill: var(--color-primary);
}
