.searchModal {
  min-height: 150px;
}

.clearBtn {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.clearBtn svg {
  width: 100%;
  height: 100%;
}

.clearBtn svg path {
  fill: var(--color-grey-light);
}
  
.clearBtn:hover svg path {
  fill: var(--color-primary);
}
  