.overlay {
  visibility: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000000b3;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 9999;
  transition: all 0.15s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 8px;
}

.overlay.overlayOpen {
  visibility: visible;
  opacity: 1;
}

.modal {
  box-sizing: border-box;
  background-color: var(--color-black-light);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 16px;
}

@media screen and (max-width: 575px) {
  .modal {
    flex-grow: 1;
  }
}