.root {
  display: flex;
}

.profilePic {
  width: 50px;
  height: 50px;
  margin-right: 24px;
  border-radius: 5px;
}

.commentContainer {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  color: var(--color-white);
  margin-bottom: 5px;
  font-family: var(--font-primary);
  letter-spacing: 1.5px;
  line-height: 1.1;
}

.commentContainer b {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-grey-light);
}

.comment {
  color: var(--color-medium-grey);
  font-size: var(--font-body-2);
  line-height: 1.5;
  margin: 5px 0 0 0;
  letter-spacing: 0.5px;
  font-family: var(--font-primary);
  font-weight: 400;
}