.root {
  margin: 60px auto 0;
  max-width: 1320px;
  box-sizing: border-box;
  padding: 0px 12px;
}

@media screen and (max-width: 1399px) {
  .root {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1199px) {
  .root {
    max-width: 960px;
  }
}

@media screen and (max-width: 991px) {
  .root {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .root {
    max-width: 540px;
  }
}

.animeInfoWrapper {
  margin: 0;
}

.videoSectionWrapper {
  margin: 30px 0 80px;
}

.commentSection {
  margin: 0 auto;
}

.commentGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 24px;
}