.root {
  max-width: 1320px;
  margin: 70px auto 0;
}

.profileTitle {
  font-family: var(--font-bold);
  font-weight: 700;
  font-size: 40px;
  color: var(--color-white);
  margin: 0 auto 40px;
  max-width: 1320px;
}

.playListWrapper {
  margin-top: 50px;
}
