.root {
  max-width: 1320px;
  margin: 70px auto 0;
  box-sizing: border-box;
  padding: 30px 12px;
}

@media screen and (max-width: 1399px) {
  .root {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1199px) {
  .root {
    max-width: 960px;
  }
}

@media screen and (max-width: 991px) {
  .root {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .root {
    max-width: 540px;
  }
}

.profileTitle {
  font-family: var(--font-bold);
  font-weight: 700;
  font-size: 40px;
  color: var(--color-white);
  margin: 0 auto 40px;
  max-width: 1320px;
}

.playListWrapper {
  margin-top: 50px;
}
