.inputWrapper {
  position: relative;
  margin-bottom: 24px;
}

.passwordInput {
  margin-bottom: 0 !important;
}

.hideButton {
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  z-index: 2;
  color: var(--color-grey-light);
  width: 20px;
  height: 20px;
}

.hideButton svg {
  width: 100%;
  height: 100%;
  fill: var(--color-grey-light);
}