.inputWrapper {
  position: relative;
}

.hideButton {
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  top: 22px;
  right: 16px;
  z-index: 2;
  color: var(--color-grey-light);
}