.customPlayer {
  width: 100%;
  height: 100%;
  position: relative;
}

.videoControls {
  position: absolute;
  padding: 10px;
  width: 100%;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}

.progressWrapper {
  margin-bottom: 10px;
}

.videoProgress {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.bottomControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomControls button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
}

[data-title]::before {
  content: attr(data-title);
  position: absolute;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  top: -70px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-weight: bold;
  padding: 4px 6px;
  word-break: keep-all;
  white-space: pre;
}

[data-title]:hover::before {
  display: inline-block;
}

.progressWrapper[data-title]::before {
  top: -30px;
}

.bottomControls button svg {
  width: 100%;
  height: 100%;
  fill: var(--color-grey-light);
  transition: fill 0.3s;
}

.bottomControls button svg:hover {
  fill: var(--color-primary);
}

.leftControls {
  display: flex;
  align-items: center;
  gap: 30px;
}

.rightControls {
  display: flex;
  align-items: center;
  gap: 30px;
}

.volumeBtnWrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.volumeRange {
  width: 0px;
  height: 0px;
  overflow: hidden;
  transition: width .3s;
  position: relative;
  cursor: pointer;
}

.volumeBtnWrapper .volumeRange {
  width: 100px;
  height: 5px;
  overflow: visible;
}

.timeContainer {
  color: var(--color-white);
  display: inline-block;
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-primary);
  line-height: 1.5;
}

.playPauseBtn::before {
  left: 0px;
  transform: none;
}

.settingsWrapper {
  position: relative;
}

.fullScreenBtn[data-title]::before {
  left: auto;
  right: 0;
  transform: none;
}