.root {
  margin: 0 auto;
  max-width: 1320px;
  padding-top: 30px;
  padding: 30px 12px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1399px) {
  .root {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1199px) {
  .root {
    max-width: 960px;
  }
}

@media screen and (max-width: 991px) {
  .root {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .root {
    max-width: 540px;
  }
}

.animeGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(246px, 1fr));
  gap: 30px 24px;
  position: relative;
}