.root {
  position: relative;
}

.sortToggle {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  padding: 0;
  line-height: inherit;
  cursor: pointer;
  transition: 0.3s color;
}

.sortToggle:hover {
  color: var(--color-purple);
}

.sortBtnWrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.sortBtnWrapper:first-of-type {
  margin-bottom: 10px;
}

.sortBtn {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-grey-light);
  font-family: var(--font-primary);
  letter-spacing: 0.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: max-content;
  transition: 0.3s color;
  background-color: transparent;
  border: none;
  padding: 0px;
}

.sortBtn:hover {
  color: var(--color-purple);
}

.markIcon {
  width: 20px;
  visibility: hidden;
}

.markIcon.marked {
  visibility: visible;
}

@media screen and (max-width: 991px) {
  .sortDropdown {
    position: static;
  }
}
